.wrapper {
  background-color : #ff0000;
  border-radius    : 0.3125rem;
  padding          : 0;
  height           : 100%;
  position         : relative;
  overflow         : hidden;
  display          : flex;
  flex-direction   : column;
}

.chartArea {
  height   : 100%;
  position : relative;
  z-index  : 2;
}

.cursorOverlay {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  background-color : rgba(0, 0, 0, 0.1);
  z-index          : 1;
  pointer-events   : none;
}

.title {
  position    : absolute;
  top         : 1.5rem;
  left        : 1.5rem;
  z-index     : 3;
  font-size   : 0.9375rem;
  font-weight : 500;
  color       : rgba(255, 255, 255, 0.7);
  margin      : 0;
  max-width   : 10rem;
  line-height : 1.4;
}

.tooltip {
  background-color : #ffffff;
  color            : #282d30;
  font-size        : 0.5rem;
  font-weight      : 900;
  padding          : 0.5rem;
  position         : relative;
  z-index          : 4;
}

@media (max-width : 1024px), (max-height : 780px) {
  .title {
    top       : 1rem;
    left      : 1rem;
    font-size : 0.8125rem;
    max-width : 7.5rem;
  }
}
