.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #fbfbfb;
  border-radius: 0.3125rem;
  padding: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.iconWrapper {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}

.value {
  font-size: 1.25rem;
  font-weight: 700;
  color: #282d30;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #74798c;
}

