.wrapper {
  background-color : var(--color-background);
  border-radius    : 0.3125rem;
  padding          : 1.5rem 2rem;
}

.title {
  font-size   : 0.9375rem;
  font-weight : 500;
  color       : #282d30;
  margin      : 0;
}

.tooltip {
  display          : flex;
  flex-direction   : column;
  gap              : 1.5rem;
  background-color : #e60000;
  color            : #ffffff;
  font-size        : 0.6875rem;
  font-weight      : 500;
  padding          : 0.5rem;
  margin-left      : 2rem !important;
  text-align       : center;
  width            : fit-content;
  white-space      : nowrap;
}

.headerContainer {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  margin-bottom   : 1rem;
}

.legendContainer {
  display : flex;
  gap     : 1rem;
}

.legendItem {
  display     : flex;
  align-items : center;
  gap         : 0.5rem;
  font-size   : 14px;
  color       : #9b9eac;
}

.legendDot {
  width         : 8px;
  height        : 8px;
  border-radius : 50%;
}

@media (max-width : 1024px), (max-height : 780px) {
  .wrapper {
    padding : 1rem;
  }

  .legendContainer {
    gap : 0.625rem;
  }

  .legendItem {
    font-size : 0.75rem;
  }
}
