*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Roboto, system-ui, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Couleurs globales */
  --color-primary: #E60000;
  --color-dark: #020203;
  --color-background: #FBFBFB;
  --color-white: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

