.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.code {
  font-size: 18rem;
  font-weight: 700;
  color: #E60000;
  margin: 0;
  line-height: 1;
}

.message {
  font-size: 1.625rem;
  font-weight: 500;
  color: #000;
  max-width: 37.5rem;
  margin: 3.125rem 0 5rem;
}

.link {
  font-size: 1.125rem;
  color: #000;
  text-decoration: underline;
}

.link:hover {
  color: #E60000;
}

